<html>  
    <head>  
        <title>Select</title>  
    </head>  
    <body>  
        <p>Select To View</p>
        <br>
            <button onclick="window.location.href = '/size'";>
            Size
            </button>
            <button onclick="window.location.href = '/last_modified'";>
            Last Modified
            </button>
            <button onclick="window.location.href = '/no_of_lines'";>
            No.of Lines
            </button>
            <button onclick="window.location.href = '/all_three'";>
            All Three
            </button>
        </br>
        <br>
            <button onclick="window.location.href = '/'";>
                Return Home
            </button>
        </br>
        <br>
            <button onclick="window.location.href = '/stop'";>
                To Stop
            </button>
        </br>
    </body>  
</html>   