<html>  
    <head>  
        <title>Upload</title>  
    </head>  
    <body>
        <br>
            Only Text Files
            <form action="/choose" method = "post" enctype="multipart/form-data">  
                <input type="file" name="file" />  
                <input type = "submit" name="Upload"> 
            </form>
        </br>
        <br>
            <button onclick="window.location.href = '/stop'";>
                To Stop
            </button>
        </br>  
    </body>  
</html>    